.flex {
    width: 100%;
    height: 864px;
    display: flex;
    background-color: #F9FAFB;
}

.container {
    margin: auto;
    display: flex;
}

.photo_block {
    width: 815px;
    margin-left: -80px;
}

.photo {
    width: 100%;
}

.text_block {
    width: 828px;
    margin-right: 0;
    display: flex;
    margin: auto;
}

.text_container {
    margin: auto;
    width: 655px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 64px;
}

.description {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #525252;
    line-height: 32px;
}

.button {
    width: 195px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    transition: 200ms;
}

.button:hover {
    background-color: #dfdfdf;
    transition: 200ms;
}

.button_text {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin: auto;
    cursor: pointer;
}

.arrow {
    margin: auto;
    margin-left: -10px;
    cursor: pointer;
}

@media(max-width: 1579px) {
    .text_block {
        width: auto;
        margin-right: 0;
        display: flex;
        margin: auto;
    }
}

@media(max-width: 1406px) {
    .flex {
        width: 100%;
        height: 1150px;
        display: flex;
        background-color: #F9FAFB;
    }

    .container {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .photo_block {
        margin-left: 0px;
    }
}

@media(max-width: 831px) {
    .flex {
        width: 100%;
        height: auto;
        padding-top: 125px;
        padding-bottom: 125px;
        display: flex;
        background-color: #F9FAFB;
    }

    .photo_block {
        width: 100%;
        margin-left: 0px;
    }

    .text_container {
        margin: auto;
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
}