.flex {
    width: 100%;
    height: auto;
    display: flex;
}

.container {
    width: 1563px;
    height: 250px;
    margin: auto;
    display: flex;
}

.text_block {
    margin: auto;
    margin-left: 0;
}

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #FFF;
    margin-bottom: 15px;
}

.description {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFF;
    line-height: 32px;
}

.email_block {
    width: 498px;
    height: 73px;
    background-color: #F9FAFB;
    border-radius: 10px;
    display: flex;
    margin: auto;
    margin-right: 0;
}

.email_text {
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #000;
    line-height: 32px;
    margin: auto;
    margin-left: 40px;
}

@media(max-width: 1564px) {
    .container {
        width: 1113px;
        height: 250px;
        margin: auto;
        display: flex;
    }
}

@media(max-width: 1112px) {
    .container {
        width: 1563px;
        height: auto;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
    }

    .text_block {
        width: 655px;
        margin: auto;
    }

    .email_block {
        width: 655px;
        height: 73px;
        background-color: #F9FAFB;
        border-radius: 10px;
        display: flex;
        margin: auto;
        margin-top: 35px;
    }
}

@media(max-width: 831px) {
    .container {
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .text_block {
        width: 100%;
        margin: auto;
    }

    .email_block {
        width: 100%;
        height: 73px;
        background-color: #F9FAFB;
        border-radius: 10px;
        display: flex;
        margin: auto;
        margin-top: 35px;
    }
}

@media(max-width: 426px) {
    .email_text {
        font-family: "Jost", sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #000;
        line-height: 32px;
        margin: auto;
        margin-left: 20px;
    }
}

@media(max-width: 335px) {
    .title {
        font-family: "Raleway", sans-serif;
        font-weight: 500;
        font-size: 15vw;
        color: #FFF;
        margin-bottom: 15px;
    }
}